:root {
  --sidebar-width: 250px; /* keep this in sync with your sidebar */
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  z-index: 10000;
  background-color: #242424;
  transition: transform 0.3s ease-in-out;
}

.hamburger.open {
  transform: translateX(var(--sidebar-width));
  border: 2px solid rgba(218, 165, 32, 1);
}
.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
}
