.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.3s;
}
