.carousel {
  display: flex;
  align-items: center;
}

.carousel-viewport {
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.3s ease-in-out; /* This creates the animation */
  height: 100%;
}

.carousel-slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.carousel-slide.hide {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.slider__btn-prev,
.slider__btn-next {
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.carousel-slide img {
  width: 204px;
  height: 272px;
}
