.carousel {
  display: flex;
  align-items: center;
}

.carousel-viewport {
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.3s ease-in-out; /* This creates the animation */
  height: 100%;
}

.carousel-slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__btn-prev,
.slider__btn-next {
  padding: 10px 15px;
  background: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
}

.carousel-slide img {
  width: 204px;
  height: 272px;
}
