.title-box {
  color: white;
  position: relative;
  padding: 20vh 0 0 0;
  text-align: center;
  color: rgba(218, 165, 32, 1);
}
.itemDetails__box {
  position: relative;
  color: rgba(218, 165, 32, 1);
}
.id-name {
  color: white;
}
.itemDetails__img {
  position: relative;
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.itemDetails__img:hover {
  transform: scale(1.2);
}
.image-box {
  align-items: center;
  justify-content: center;
  display: flex;

  margin: 0;
  padding: 0;
}
.id-name {
  text-align: center;
  font-size: 25px;
  color: rgba(218, 165, 32, 1);
}
.description {
  font-size: 20px;
  padding: 2rem 5rem 3rem 5rem;
}
