header {
  width: 100vw;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 20vh;
  background-color: #242424;
  box-shadow: 0px 10px 20px gray;
}
nav {
  width: 100%;
  height: 100%;
}
.calypso-text {
  color: rgba(218, 165, 32, 1);
  font-weight: bolder;
  font-size: 20px;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
@media (max-width: 950px) {
  .header.header {
    justify-content: space-between;
  }
  .button-contact.button-contact {
    width: 5rem;
    color: white;
    font-size: 13px;
  }
  .calypso-text {
    display: none;
  }
}
@media (min-width: 951px) {
  .search-button__mobile {
    display: none;
  }
  .search-bar__mobile.search-bar__mobile {
    display: none;
  }
}
.button-contact {
  width: 6rem;
  border-radius: 15px;
  height: 2.5rem;
  background-color: rgba(218, 165, 32, 1);
}
.search-button__mobile {
  padding: 0;
  margin: 0;
  background: none;
}
