header {
  max-width: 100vw;
  max-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 15vh;
  background-color: #242424;
}
.logos {
  display: flex;
}
nav {
  width: 100%;
  height: 100%;
}
.calypso-text {
  color: rgba(218, 165, 32, 1);
  font-weight: bolder;
  font-size: 20px;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
@media (max-width: 950px) {
  .header {
    justify-content: space-between;
    height: 10vh;
  }
  .button-contact.button-contact {
    width: 5rem;
    color: white;
    font-size: 13px;
  }
  .calypso-text img {
    width: 3rem;
  }
  .calypso-logo img {
    width: 4rem;
    height: 4rem;
  }
  .dropdown-menu {
    display: none;
  }
}
@media (min-width: 951px) {
  .search-button__mobile.search-button__mobile {
    display: none;
  }
  .search-bar__mobile.search-bar__mobile {
    display: none;
  }
  .dropdown-menu {
    color: black;
    list-style: none;
    display: flex;
    position: fixed;
    top: 12.5vh;
    width: 100%;
    height: 2rem;
    z-index: 1000;
    margin: 0;
    padding: 0;
  }
  .dropdown-menu > li {
    position: relative;
    width: 100%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgba(218, 165, 32, 1);
    font-size: 14px;
    text-align: center;
    top: 30%;
    background-image: linear-gradient(#242424, black);
  }
  .dropdown-menu li img {
    margin-right: 10px;
  }
  .dropdown-menu__submenu {
    display: none;
    position: absolute;
    width: 100%;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    background-image: url("../../assets/dark-background.jpg");
    background-size: cover;
    list-style: none;
  }
  .dropdown-menu li:hover .dropdown-menu__submenu {
    display: flex;
  }
  .dropdown-menu__submenu li {
    padding: 0px;
    margin: 0;
    position: relative;
    text-align: left;
  }
  .dropdown-menu__submenu li {
    font-size: 13px;
    left: 0;
    top: 0;
  }
}
.button-contact {
  width: 6rem;
  border-radius: 15px;
  height: 2.5rem;
  background-color: rgba(218, 165, 32, 1);
}
.search-button__mobile {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  float: right;
  background: none;
  justify-content: flex-end;
}
.other {
  position: absolute;
  width: max-content;
  display: none;
  list-style: none;
  text-align: left;
  right: 100%;
  border-radius: 6px;
}
.instruments {
  position: absolute;
  width: max-content;
  display: none;
  list-style: none;
  text-align: left;
  left: 100%;
  border-radius: 6px;
}
.instruments li {
  text-align: left;
  white-space: nowrap;
}
.dropdown-menu__submenu li:hover > .instruments,
.dropdown-menu__submenu li:hover > .other {
  display: block;
  background-image: url("../../assets/dark-background.jpg");
  background-size: cover;
  margin: 0;
  padding: 0 1rem 1rem 0;
  top: 0;
  z-index: 1000;
}
.dropdown-menu li,
.instruments li {
  position: relative;
}
.dropdown-menu li > a,
.instruments li > a {
  position: relative;
  text-decoration: none;
  color: rgba(218, 165, 32, 1);
}

.dropdown-menu li > a::after,
.instruments li > a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: rgba(218, 165, 32, 1);
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.dropdown-menu li:hover > a::after,
.instruments li:hover > a::after {
  width: 100%;
}
