.accessories-body {
  position: relative;
  top: 12rem;
  left: -1.5rem;
}
.items-display {
  display: flex;
  gap: 2rem;
  list-style: none;
  flex-wrap: wrap; /* This makes items wrap on small screens */
  justify-content: center;
}
.items-display img {
  /* margin: 2rem 2rem 2rem 2rem; */
  max-width: 100%;
  height: 17rem;
  display: block;
  object-fit: cover;
  background-image: url("../assets/CalypsoFlag.png");
  background-size: cover;
  background-position: center center;
}
.items-display li {
  width: 250px;
  height: auto;
  text-align: center;
}

.items-title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
  position: relative;
  left: 1rem;
  color: rgba(218, 165, 32, 1);
}
.piano img {
  height: 200px;
}
.brass img {
  height: 200px;
}
.drums img {
  height: 200px;
}
.accessories img {
  height: 200px;
}
