.accessories-body {
  position: relative;
  top: 12rem;
  left: -1.5rem;
}
.items-display {
  display: flex;
  gap: 3rem;
  list-style: none;
  flex-wrap: wrap; /* This makes items wrap on small screens */
  justify-content: center;
}
.items-display img {
  border: 2px solid black;
  border-radius: 3px;
  /* margin: 2rem 2rem 2rem 2rem; */
  box-shadow: 1px 1px 5px 1px;
  mix-blend-mode: multiply;
  max-width: 100%;
  height: 17rem;
  display: block;
  object-fit: cover;
}
.items-display li {
  width: 250px;
  height: auto;
  text-align: center;
}

.items-title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
  position: relative;
  left: 1rem;
}
