.accessories-body {
  position: relative;
  top: 6rem;
  left: -1.5rem;
}
.items-display {
  display: flex;
  gap: 2rem;
  list-style: none;
  flex-wrap: wrap; /* This makes items wrap on small screens */
  justify-content: center;
}
.items-display img {
  height: 17rem;
  display: block;
  object-fit: cover;
  /* background-image: url("../assets/CalypsoFlag.png");
  background-size: cover;
  background-position: center center; */
}
.items-display li {
  width: 250px;
  height: auto;
  text-align: center;
}

.items-title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
  position: relative;
  left: 1rem;
  color: rgba(218, 165, 32, 1);
}
.piano img {
  height: 17rem;
  width: 15rem;
  background-size: 22rem;
}
.guitar li,
.orchestral li,
.special li,
.accessories li {
  width: 100%;
}
.carousel-slide,
.guitar img,
.carousel-slide,
.special img,
.carousel-slide,
.orchestral img {
  width: 204px;
  height: 272px;
}
.sonata img {
  height: 272px;
  width: 100%;
}
.piano li,
.sonata li {
  max-width: none;
  width: 100%;
}
.brass img {
  height: 200px;
}
.drums img {
  height: 200px;
  background-size: 17rem;
}
.accessories img {
  height: 200px;
  width: 100%;
}
