.search-bar {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background: #242424;
  border: none;
  flex-direction: row;
}
.search-bar .search-bar__input {
  background-color: white;
  border-radius: 15px;
  width: 30rem;
  border: none;
  transition: transform 0.3s ease;
  color: black;
  height: 7vh;
  font-size: 15px;
}
.search-bar .search-bar__input:hover {
  transform: scale(105%);
}
