.items-display__item {
  max-width: 17rem;
  padding: 2rem 2rem 0rem 2rem;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px grey;
  box-sizing: border-box;
  margin-bottom: 2rem;
  background: radial-gradient(circle, white, azure);
  transition: transform 0.3s ease, box-shadow 0.3s ease-in-out;
  text-align: center;
}
.items-display__item:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 5px 4px darkgrey;
}
.item-name {
  text-align: center;
}
