.items-display__item {
  max-width: 17rem;
  padding: 2rem 2rem 0rem 2rem;
  border: 2px solid grey;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 2rem;
  background: lightgray;
  transition: transform 0.3s ease, background 0.3s ease;
  text-align: center;
}
.items-display__item:hover {
  transform: scale(1.1);
  background-color: white;
}
.item-name {
  text-align: center;
}
